@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Merriweather&display=swap');

html {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  margin: 0;
  background: whitesmoke;
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

/* Loader */
.loader {
  background: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

/* Navigation */
.navigation-container {
  position: fixed;
  top: 0;
  height: max-content;
  width: 100%;
  margin-bottom: 1px;
  background: whitesmoke;
  z-index: 3;
}

.navigation-items {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.clickable {
  color: dodgerblue;
  cursor: pointer;
  font-size: 1.3rem;
  user-select: none;
  margin: 0px;
  transition: 0.3s all;
  padding: 5px 7px;
  position: relative;
  top: 1px;
}

.clickable:hover {
  color: rgb(21, 121, 221);
  scale: 1.02;
}

.fa-house {
  top: 0px;
  font-size: 1.8rem;
  background: transparent;
  position: relative;
  bottom: 2px;
  transition: 0.3s all;
}

.fa-house:hover {
  scale: 1.055;
}

/* Images Container */
.images-container {
  padding-top: 4%;
  width: 98vw;
  height: 95vh;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: white;
  margin: 10px 10px 20px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 48%;
  width: 46%;
  display: flex;
  z-index: 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card a {
  width: 50%;
  height: 100%;
}

.card-img-top {
  border-radius: 5px 0px 0px 5px;
  width: 100%;
  height: 100%;
}

.card-body {
  width: 45%;
  padding: 10px;
  height: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}

.add-or-remove-to-favorite-button {
  width: max-content;
  padding: 0;
  font-size: 0.8rem;
  font-family: 'Merriweather', serif;
  align-self: flex-end;
  position: relative;
  top: -7px;
  left: 7px;
  z-index: 0;
}

.card-title {
  margin: 0;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  font-family: 'Concert One', cursive;
  position: relative;
  top: -10px;
  z-index: 0;
}

.card-text {
  font-family: 'Merriweather', serif;
  font-size: 0.9rem;
  width: 100%;
  height: 65%;
  background: rgb(227, 241, 255);
  color: #000000;
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  position: relative;
  right: 2px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.text-muted strong {
  font-family: 'Concert One', cursive;
  font-size: 1.1rem;
  position: relative;
  top: 5px;
}

.text-muted span {
  font-family: 'Concert One', cursive;
  font-size: 0.9rem;
  position: relative;
  top: 5px;
  text-align: center;
  width: fit-content;
}

/* Save Confirmation */
.save-confirmed {
  background: white;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: fixed;
  bottom: 25px;
  right: 50px;
}

/* Hidden */
.hidden {
  display: none;
}

/* Active Background On NavBar */
.active-background {
  background: rgb(255, 212, 212);
  border-radius: 10px;
}

.active-background:hover {
  scale: 1;
}

/* Tablets */
@media screen and (max-width: 900px) {
  body {
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-align: justify;
  }

  .navigation-items {
    width: 100%;
  }

  .clickable {
    font-size: 1.15rem;
  }

  .fa-house {
    font-size: 1.6rem;
  }

  .images-container {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .card-title {
    font-size: 20px;
  }

  .save-confirmed {
    right: 25px;
  }
}

/* Vertical Screens(SmartPhones) */
@media screen and (max-width: 550px) {
  .images-container {
    position: relative;
    top: 30px;
    border: 2px solid black;
  }

  .card {
    height: max-content;
    flex-direction: column;
  }

  .card:last-child {
    margin-bottom: 30px;
  }

  .card a {
    width: 90%;
    margin: 5px auto 0px auto;
  }

  .card-img-top {
    border-radius: 5px;
  }

  iframe {
    height: 500px;
  }

  .card-body {
    display: grid;
    width: 98%;
    height: max-content;
    padding: 0px;
    margin: 15px auto;
    grid-template-columns: repeat(2, 40%);
    grid-template-areas:
      "title title"
      "para para"
      "text-muted save-button";
  }

  .card-title {
    font-size: 2rem;
    grid-area: title;
  }

  .card-text {
    top: initial;
    width: 80%;
    height: 120px;
    margin: 0px auto;
    grid-area: para;
    padding: 5px 15px;
  }

  .text-muted {
    grid-area: text-muted;
    margin-left: 10px;
  }

  .text-muted span {
    word-break: break-all;
  }

  .add-or-remove-to-favorite-button {
    top: 5px;
    font-size: 0.9rem;
    grid-area: save-button;
  }
}

/* landscape view */
@media screen and (max-height: 450px) {
  html {
    font-size: 12px;
  }

  .card {
    height: 90%;
  }
}